.containerr {
    width: 100%;
    margin: 10px;
    padding-right: 30px;
}

button {
    margin-left: 15px;
    margin-right: 15px;
}

div a .active {
    color: #00ffdc;
}

.demo {
    color: #00ffdc;
}